//COLORS
$color-primary: #0e1a35;
$color-secondary: #5584ff;

$color-danger: #eb304d;

$color-white: #ffffff;
$color-grey: #8492af;

//IMAGES
$img-pulse: './../../src/assets/img/pulse.png';
$img-cursor: './../../src/assets/img/hand-gesture.png';

//BREAKPOINTS
$bp-very-large: 100em; // 1600px
$bp-large: 75em; // 1200px
$bp-medium: 62.5em; // 1000px;
$bp-small: 43.75em; //700px;
$bp-very-small: 31.25em; // 500px;
