@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

@mixin heading {
  font-size: 3.75rem;
  font-weight: 100;
  line-height: 5rem;
  color: $color-white;
}

@mixin subtitle {
  color: $color-grey;
  font-size: 2.25rem;
  line-height: 3.5rem;
}

@mixin feature-heading {
  font-size: 1.5rem;
  line-height: 2.25rem;
  font-weight: 400;
  color: $color-primary;

  @include bp($bp-very-small) {
    font-size: 2.2rem;
  }
}

@mixin feature-text {
  color: $color-primary;
  font-weight: 700;
  line-height: 3.75rem;
  font-size: 1.5rem;

  @include bp($bp-very-small) {
    font-size: 1.9rem;
  }
}

@mixin item-text {
  color: $color-white;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.875rem;

  @include bp($bp-very-small) {
    font-size: 1.4rem;
    line-height: 2.8rem;
  }
}

@mixin paragraph {
  @include item-text;
  color: $color-grey;
}

.t-heading {
  @include heading;

  &--inverted {
    color: $color-primary;
  }
}

.t-subtitle {
  @include subtitle;
}

.t-feature-heading {
  @include feature-heading;
}

.t-feature-text {
  @include feature-text;
}

.t-item-text {
  @include item-text;
}

.t-paragraph {
  @include paragraph;
}
